// Managed by nested-vsphere-lab (dns_bind). Zone declarations.
zone "{{ jumpbox.domain }}" {
    type master;
    file "{{ zones_dir }}/db.forward";
};
{% for v in vlans_computed %}
{% set o = v.cidr.split('/')[0].split('.') %}
zone "{{ o[2] }}.{{ o[1] }}.{{ o[0] }}.in-addr.arpa" {
    type master;
    file "{{ zones_dir }}/db.{{ v.name }}.rev";
};
{% endfor %}
