// Managed by nested-vsphere-lab (dns_bind). Full config (RedHat/Photon layout).
options {
    directory "/var/named";

    forwarders {
{% for f in dns.forwarders %}
        {{ f }};
{% endfor %}
    };
    forward only;

    dnssec-validation no;
    version none;
    listen-on-v6 { none; };
    listen-on port 53 { 127.0.0.1; {% for v in vlans_computed %}{{ v.gateway }}; {% endfor %}};
    allow-query { localhost; {% for v in vlans_computed %}{{ v.cidr }}; {% endfor %}};
    allow-query-cache { any; };
    recursion yes;
    allow-recursion { 127.0.0.1; {% for v in vlans_computed %}{{ v.cidr }}; {% endfor %}};
    pid-file "/run/named/named.pid";
};

zone "{{ jumpbox.domain }}" {
    type master;
    file "{{ zones_dir }}/db.forward";
};
{% for v in vlans_computed %}
{% set o = v.cidr.split('/')[0].split('.') %}
zone "{{ o[2] }}.{{ o[1] }}.{{ o[0] }}.in-addr.arpa" {
    type master;
    file "{{ zones_dir }}/db.{{ v.name }}.rev";
};
{% endfor %}
